#the folders with the temporary products should not be GIT-ed.
obj/
compiled/

#ignore the compiled file.
runnable

#Also, the backup files of SIM are not relevant.
*.simp.bak

#temporary compilation junk can also be ignored.
*.gch
*.o
